

<div class="wrap-whole-data">
  
    <h3 class="gap">
          Health history suggests that you are more vulnerable and at high risk, so please take below precautions and contact mentioned contact.
    </h3>
    <ul>
        <li>Stay home stay healthy</li>
        <li>Isolate yourself from other people and animals in your home</li>
        <li>Wear a face covering</li>
        <li>Cover your coughs and sneezes</li>
        <li>Clean your hands often</li>
        <li>Also keep updating  Live Health tracker</li>
        <li>Contacts </li>
        <dl>
           
            <dd class="color">1003283888</dd>
            <dd class="color">1999972636</dd>
            <dd class="color">1000011100</dd>
            <dd class="color">1900099099</dd>
            <dd class="color">1788837377</dd>
           
        </dl>
     
    </ul>
    <div class="row">
        <input type="submit" value="I Understand" (click)="routeToLiveTracker()">
      </div>
    </div>
  
  
   
  
