<div class="wrap-whole-data">
  <table>
      <tr>
        <th>Patient Id</th>
        <th>Patient Name</th>
        <th>Registered Date</th>
        <th>Patient Status</th>
        <th>Note</th>
      </tr>
      <tr>
          <td> <a (click)="openSavedModelSlider()" class="anchor-ruleNm">1BCD001</a></td>
          <td>Tapasya</td>
          <td>12/04/20</td>
          <td>Normal</td>
          <td>------</td>
      </tr>
      <tr>
        <td>1BCD002</td>
        <td>Meera Sharma</td>
        <td>12/04/20</td>
        <td>Critical</td>
        <td>------</td>
      </tr>
      <tr>
          <td>1BCD003</td>
          <td>Priya Sharma</td>
          <td>12/05/20</td>
          <td>Moderate</td>
          <td>------</td>
      </tr>
      <tr>
          <td>1BCD004</td>
          <td>Mintu Sharma</td>
          <td>10/05/20</td>
          <td>Moderate</td>
          <td>------</td>
      </tr>
      
    </table>
    
    
    

</div>