<div class="wrap-whole-data">
    <h2>Frequently Asked Questions</h2>
    <div class="box-data">
    <div class="wrap-question">
      <h2>1. What is COVID-19?</h2>
      <h2>COVID-19, otherwise known as coronavirus disease 2019, is a new illness that affects your lungs and airways. It
        is particularly severe in older populations and people with underlying health conditions</h2>
    </div>
  </div>
  <div class="box-data">
  <div class="wrap-question">
    <h2>2. What are the common symptoms?</h2>
    <h2>The most common symptoms of COVID-19 are a dry and continuous cough, fever and tiredness. Other flu-like symptoms
      such as a sore throat, aches and pains, headache or runny nose are also common. However, some people do not have any
      symptoms and may not even know they have the virus.</h2>
  
  </div>
  </div>
  <div class="box-data">
  <div class="wrap-question">
    <h2>3. What is COVID-19 TELE-MEDICINE?</h2>
    <h2>COVID-19 TELE-MEDICINE is a digital service, primarily a mobile application, developed by the XXX and is aimed at protecting the
      citizens during COVID-19 as well as well as providing them relevant and curated medical services.</h2>
  </div>
  </div>
  <div class="box-data">
  <div class="wrap-question">
    <h2>4. Why should I use COVID-19 TELE-MEDICINE?</h2>
    <h2>COVID-19 TELE-MEDICINE will help both COVID warriors and Health-Care system meet the Challenge of COVID19 pandemic. Patients who
      are quarantined at home can use the application and can consult medical professional directly from home</h2>
  </div>
  </div>
  <div class="box-data">
  <div class="wrap-question">
    <h2>5.What personal information COVID-19 TELE-MEDICINE collect from users?</h2>
    <h2> To register for the App, you are needed to provide your name, gender , age, address, contact no, Family member
      count , nationality , blood group. COVID-19 TELE-MEDICINE also ask for your health related information and travel information.</h2>
  </div>
  </div>
  <div class="box-data">
  <div class="wrap-question">
    <h2>6.How does the self - assessment test on COVID-19 TELE-MEDICINE work?</h2>
    <h2>COVID-19, otherwise known as coronavirus disease 2019, is a new illness that affects your lungs and airways. It is
      particularly severe in older populations and people with underlying health conditions.</h2>
  </div>
  </div>
  <div class="box-data">
  <div class="wrap-question">
    <h2>7.How does app connect with Practitioner/Doctor?</h2>
    <h2> Based on self – assessment test, COVID-19 TELE-MEDICINE will connect you to Practitioner/Doctor.</h2>
  </div>
  </div>
  <div class="box-data">
    <div class="wrap-question">
      <h2>8.How many times I can consult a doctor/Practitioner with in quarantine time? </h2>
      <h2>First time consultation will be as per your symptoms and after that Thrice in a day</h2>
  
    </div>
  </div>
  </div>
